:root {
    --background-color: #f9fafb;
    --input-border-color: #E5E7EB;
    --background-img: url('https://images.unsplash.com/photo-1567360425618-1594206637d2?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=536');
    --font-family: "Arial";
}

@font-face {
    font-family: Norse;
    src: url(assets/fonts/Norse-Bold.otf);
}

body {
    margin: 0;
    display: flex;
    font-family: var(--font-family);
}

.section {
    display: flex;
}

.emphasis {
    font-style: italic;
}

.content {
    flex-direction: column;
    background-color: var(--background-color);
    height: 100vh;
    width: 60vw;
}

.image-sidebar {
    flex-direction: column;
    background-image: var(--background-img);
    background-color: red;
    width: 40vw;
}

.text-container {
    width: 45vw;
    height: 200px;
    padding-left: 5vw;
    margin-top: 15vh;
    margin-bottom: 1vw;
}

.form-container {
    background-color: white;
    padding: 3vw 0vw 3vw 5vw;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.25);
}

.form-submit-container {
    padding-left: 5vw;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-top: 16vh;
    padding-bottom: 0px;
    background-color: rgba(0,0,0,.65);
}


.odin-logo {
    width: 100px;
}

.logo-text {
    color: white;
    font-family: Norse;
    font-size: 100px;
    padding-top: 30px;
}

.section-footer {
    width: 40vw;
    padding-bottom: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    color: var(--background-color);
}

.submit {
    width: 220px;
    height: 45px;
    padding: 10px 20px;
    margin-top: 30px;
    font-size: 15px;
    font-weight: bold;
    color: var(--background-color);
    border-radius: 10px;
    border: none;
    background-color: red;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.25);
}

.new-account-text {
    margin-top: 40px;
}

.log-in-text, a[href], .log-in-text:active, a[href]:active {
    color: red;
    font-weight: bold;
    text-decoration: none;
}

.log-in-text:hover {
    color: black;
}

.name-inputs, .contact-inputs, .password-inputs {
    display: flex;
    margin-bottom: 15px;
    gap: 60px

}

.form-input {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(0,0,0,.75);
    letter-spacing: 2px;;
    
}

input {
    width: 250px;
    height: 25px;
    padding-left: 10px;
    margin-top: 3px;
    border-radius: 5px;
    border-style: none;
    border: 1px solid var(--input-border-color);
}

input:focus {
    border-color: blue;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.25);
}

.error {
    border-color: darkred;
}

.password-validation {
    color: darkred;
    font-size: 11px;
}

legend {
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 500;
}

